<!-- Base for Newsletter app learned from  https://bastakiss.com/blog/django-6/how-to-add-a-newsletter-app-to-your-django-website-475 -->
<!-- And from contact_success.html -->
{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Kelly's Art & Photo Boutique - Subscribe to our Boutique's Newsletter. An online shop selling variety of art and photos. ">
    <meta name="keywords" content="Subscribe to our Boutique's Newsletter. Kelly's Art & Photo Boutique, art, photos, drawings, online shop, shop, boutique">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="subscription-success-page justify-content-center text-center text-white mt-1">
            <h4 class="font-weight-bold">Thank you for subscribing to our Newsletter</h4>
            <a href="{% url 'products_home' %}" class="btn btn-outline-black" aria-label="Back to Shop">
                Back to Shop
            </a>
        </div>
    </div>
{% endblock %}