/* base.css followed from Code Institute's walk-through "Boutique Ado",
and PP2 "Estonia Quiz" */

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    background-image: url('/media/website_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FFFFFF;
    color: #555555;
    text-align: left;
}

/* Styling of Headings */

h1 {
    font-size: 2.6rem;
    padding-top: 5px;
}

h2 {
    font-size: 2.4rem;
    align-items: left;
    width: 100%;
    padding: 5px;
    font-weight: bold;
}

/* Container styling */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 20px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.click-here-to-shop-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.click-here-to-shop-button:hover,
.click-here-to-shop-button:active,
.click-here-to-shop-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #000 !important;
    color: #ffffff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #555555;
}

/* ----- Bootstrap Toasts from Boutique Ado ------ */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ------ From Boutique Ado walk-through (CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/) Modified by developer ---- */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid cornflowerblue;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* ------- Convenience Classes from Boutique Ado(colors copied from Bootstrap), edited by developer ------ */
.arrow-primary {
    border-bottom-color: cornflowerblue !important;
}

.arrow-secondary {
    border-bottom-color: #435f78 !important;
}

.arrow-success {
    border-bottom-color: #04280c !important;
}

.arrow-danger {
    border-bottom-color: #50070e !important;
}

.arrow-warning {
    border-bottom-color: #d8a714 !important;
}

.arrow-info {
    border-bottom-color: cornflowerblue !important;
}

.arrow-light {
    border-bottom-color: #919497 !important;
}

.arrow-dark {
    border-bottom-color: #021527 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Shopping Cart page */

.cart-table {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cart {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: cornflowerblue; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #555555;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* Standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Footer - styling based on previous project: [quiz](https://github.com/BarbyKelly/quizproject/blob/main/assets/css/style.css)*/

.footer {
    margin-top: auto;
    width: 100%;
    background: #ffffff;
    color: #021527;
    text-align: center;
    bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer {
    margin-top: auto;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 0;
}

#social-networks i {
    font-size: 100%;
    color: #021527;
}

/* Media Queries learned from PP2 (for PP2 learned from https://www.youtube.com/watch?v=K24lUqcT0Ms) */

/* Media Queries for 'XXXS' screens */
@media (max-width: 320px) {
  .container {
        max-width: 250px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* Media Queries for 'XXS' screens */
@media (min-width: 320px) {
  .container {
        max-width: 300px;
  }

  h2 {
    font-size: 1.8rem;
  }
}

/* Media Queries for 'XS' screens */
@media (min-width: 475px) {
  .container {
        max-width: 400px;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Media Queries for 'S' screens */
@media (min-width: 648px) {
  .container {
        max-width: 600px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* Media Queries for 'M' screens */
@media (min-width: 768px) {
  .container {
        max-width: 700px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* Media Queries for 'L' screens */
@media (min-width: 1024px) {
  .container {
        max-width: 1000px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* Media Queries for 'XL' screens */
@media (min-width: 1280px) {
  .container {
        max-width: 1200px;
  }
}

/* Media Queries for 'XXL' screens */
@media (min-width: 1536px) {
  .container {
        max-width: 1500px;
  }
}
