<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=author&direction=asc" class="dropdown-item">By Author</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="drawings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drawings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drawings-link">
                <a href="{% url 'products' %}?category=author" class="dropdown-item">By Author</a>
                <a href="{% url 'products' %}?category=price" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=author,price" class="dropdown-item">All Drawings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="photos-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Photos
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="photos-link">
                <a href="{% url 'products' %}?category=name" class="dropdown-item">By Title</a>
                <a href="{% url 'products' %}?category=theme" class="dropdown-item">By Theme</a>
                <a href="{% url 'products' %}?category=name,theme" class="dropdown-item">All Photos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="latest-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Latest Additions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="latest-link">
                <a href="{% url 'products' %}?category=lates_drawings" class="dropdown-item">Latest Drawings</a>
                <a href="{% url 'products' %}?category=latest_photos" class="dropdown-item">Latest Photos</a>
                <a href="{% url 'products' %}?category=latest_drawings,latest_photos" class="dropdown-item">All Latest</a>
            </div>
        </li>
    </ul>
</div>