<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=author&direction=asc" class="dropdown-item">By Author</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="art-link">
                <a href="{% url 'products' %}?category=animal_art" class="dropdown-item">Animal Art</a>
                <a href="{% url 'products' %}?category=name_art" class="dropdown-item">Name Art</a>
                <a href="{% url 'products' %}?category=winter_art" class="dropdown-item">Winter Art</a>
                <a href="{% url 'products' %}?category=variety_of_art" class="dropdown-item">Variety of Art</a>
                <a href="{% url 'products' %}?category=animal_art,name_art,winter_art,variety_of_art" class="dropdown-item">All Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="photos-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Photos
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="photos-link">
                <a href="{% url 'products' %}?category=beach" class="dropdown-item">Beach</a>
                <a href="{% url 'products' %}?category=rainbow" class="dropdown-item">Rainbows</a>
                <a href="{% url 'products' %}?category=animal" class="dropdown-item">Animals</a>
                <a href="{% url 'products' %}?category=sky" class="dropdown-item">Sky</a>
                <a href="{% url 'products' %}?category=variety_of_photos" class="dropdown-item">Variety of Photos</a>
                <a href="{% url 'products' %}?category=beach,rainbow,animal,sky,variety_of_photos" class="dropdown-item">All Photos</a>
            </div>
        </li>
    </ul>
</div>