<!-- howto.html based on blog: https://github.com/BarbyKelly/blog/blob/main/resources/templates/resources/resources.html -->
{% extends 'base.html' %}
{% block content%}
{% load static %}
{% for howto in howto %}

{% block page_header %}
    <div class="container header-container mt-10">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<body class="h-100 main-bg">
<div class="container-fluid box d-flex flex mt-1 mb-1" style="background-color: #FFFFFF; padding-left: 1em; padding-right: 2px;">
    <div class="row">
        <!-- Title -->
        <h2 class="text-center">{{ howto.title }}</h2>
        <!-- How To ... content -->
        <h4 class="text-center ml-5">{{ howto.content | safe }} </h4>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col text-right text-black">
        <!-- Links added by admin -->
         <p class="text-end mr-3 text-black"><em>Disclaimer: YouTube video links shared by Boutique's admin. No personal benefit,<br> no connection to these YouTube content creators</em></p>
    </div>
</div>
</body>
{% endblock content %}