<!-- howto.html based on blog: https://github.com/BarbyKelly/blog/blob/main/resources/templates/resources/resources.html -->
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container mt-10">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
<main class="h-100 main-bg pt-4">
    {% for howto in howto %}
    <div class="container text-center text-black d-flex flex mt-2 mt-md-4 mb-2">
        <div class="col-12 col-lg-6 col-md-6 flex" style="background-color: #FFFFFF;">
            <hr>
            <div class="row"></div>
            <!-- Title -->
            <div class="col"><strong>{{ howto.title }}</strong></div>
            <!-- How To ... content -->
            <div class="col">{{ howto.content | safe }}</div>
            <hr>
        </div>
    </div>
    {% endfor %}
    </div>
</main>
{% endblock content %}