<!-- howto.html based on blog: https://github.com/BarbyKelly/blog/blob/main/resources/templates/resources/resources.html -->
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container mt-10">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
<main class="h-100 main-bg pt-5">
    {% for howto in howto %}
    <div class="container-fluid text-center text-black d-flex flex mt-5 mb-5">
        <div class="col-lg-4 flex" style="background-color: #FFFFFF;">
        <hr>
        <div class="row"></div>
        <!-- Title -->
        <div class="col">{{ howto.title }}</div>
        <!-- How To ... content -->
        <div class="col">{{ howto.content | safe }}</div>
        <hr>
    </div>
</div>
{% endfor %}
    </div>
</main>
{% endblock content %}