/* Base code for checkout.css from Boutique Ado walk-through */
/* Checkout Form Container - to fix width of the form on screens eg 991px - fixed with chatGPT's guidance */
.checkout_form_container {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 13px;
    box-sizing: border-box;
}

/* Checkout separator - fixed with chatGPT's guidance */
.order_checkout_separator {
    border: 0;
    height: 1px;
    background-color: #e9f0f7;
    margin-top: 1rem;
}

/* Stripe */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Order Confirmation styling - added with ChatGPT's guidance */
.order-confirmation-wrapper {
    max-width: 550px;
    margin: 0 auto;
    color: black;
    font-weight: 450;
    background: #FFFFFF;
    border-radius: 7px;
}

.order-confirmation-wrapper h3,
.order-confirmation-wrapper h5 {
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
}

.order-confirmation-wrapper table td,
.order-confirmation-wrapper table th {
    padding: 0.3rem 0.5rem;
    vertical-align: middle;
}

.order-confirmation-wrapper .table thead th {
    border-bottom: 1px solid #e6edf4;
}

.order-confirmation-wrapper p {
    color: black;
    margin-bottom: 0.2rem;
}

.order-confirmation-wrapper p {
    text-align: right !important;
    padding-left: 1rem;
    line-height: 1.6;
}

.order-confirmation-wrapper h5 {
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

.order-confirmation-wrapper td.text-right {
    text-align: right !important;
}
