<!-- Base for contact.html learned from https://github.com/kera-cudmore/seaside-sewing/blob/main/contact/templates/contact/contact_success.html  -->
{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Contact our Boutique Success!
{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Kelly's Art & Photo Boutique - Contact our Boutique. An online shop selling variety of art and photos. ">
    <meta name="keywords" content="Contact Boutique, contact us, Kelly's Art & Photo Boutique, art, photos, drawings, online shop, shop">
{% endblock %}

{% block content %}
    <div class="row page-title">
        <h3>Contact our Boutique</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1 text-center">
            <h4>Thank you for your message!</h4>
            <p>We hope to reply within 3 working days </p>
            <a href="{% url 'products' %}" class="btn btn-outline-black my-2">
                <span class="icon mr-1">
                    <i class="fa-solid fa-shop"></i>
                </span>
                <span>View products in our Boutique</span>
            </a>
        </div>
    </div>
{% endblock %}